body{
    padding: 25px;
}
#headcont{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
table{
    border: 2px solid ;
    text-align: center;
    border-collapse: collapse;
    margin: auto; 
    height: 500px;
    width: 600px;
}
#mainheading{
    /* text-align: center; */
    background-color: rgb(44, 70, 166);
    padding: 10px;
    height: 40px;
}
#heading>th{
    border: 2px solid ;
    padding: 10px;
}
td{
    padding: 10px;
    border: 2px solid ;
}